# 1. take name as input and say hello
name = input(" ")
print("Hello, " + name + "!")

In [2]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"

count = string.count("is")
print("Count of is = {}".format(count))

Count of is = 2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"

splitted_list = string.split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [4]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
sentense =  "=".join(list_1)
print(sentense)

Data=is=new=oil

In [5]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
new_s = sentence.replace("Java","Python")
print(new_s)

I love programming in Python.

In [6]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
new_m = message.strip()
print(new_m)

This is a message with spaces.

In [7]:
#7. From below string find postion(start index) of "sample"
import re
sentence = "This is a sample sentence."
pattern = re.compile(re.escape("sample"))
match = pattern.search(sentence)
start_index = match.start()

print(start_index)

10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
print(len(text))

14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"
print(string[::-1])

elppaeniP

In [10]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
print(text.title())

Welcome To Python Programming.

In [13]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [14]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
print(text.capitalize())

I am learning python

In [15]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [16]:
#14. print the addition of below 2 strings
a = 20
b = 30
print(str(a)+str(b))

2030

In [17]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
print(a+b)

2030

# List Practice

In [18]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

[1, 2, 3, 44, 5]

In [19]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [20]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [21]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [22]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [23]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [24]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [25]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [26]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [27]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse = True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# For Loop in Python

In [1]:
n=11
for i in range(1,n):
        print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
given_range = 10
 
for i in range(given_range):
      # if number is divisble by 2
        # then it's even
        if i%2==0:
            print(i)

0
2
4
6
8

In [7]:
given_number = 10
sum= 0
# since we want to include the number 10 in the sum
# increment given number by 1 in the for loop
for i in range(1,given_number+1):
        sum+=i
        print(sum)

1
3
6
10
15
21
28
36
45
55

In [8]:
given_range = 10
 
# set up a variable to store the sum
# with initial value of 0
sum = 0
 
for i in range(given_range):
 
        # if i is odd, add it
        # to the sum variable
        if i%2!=0:
                sum+=i
                print(sum)

1
4
9
16
25

In [9]:
given_number = 5
 
for i in range(11):
        print (given_number," x",i," =",5*i)

5  x 0  = 0
5  x 1  = 5
5  x 2  = 10
5  x 3  = 15
5  x 4  = 20
5  x 5  = 25
5  x 6  = 30
5  x 7  = 35
5  x 8  = 40
5  x 9  = 45
5  x 10  = 50

In [14]:
list = [1,2,4,6,88,125]
for i in list:
    print(i)

1
2
4
6
88
125

In [18]:
given_number = 129475
given_number = str(given_number)
count=0
for i in given_number:
        count += 1
print(count)

6

In [19]:
given_string = input()
reverse_string = ""
for i in given_string:
    reverse_string = i + reverse_string  
print(reverse_string)

abhishek
kehsihba

In [21]:
given_number = 153
given_number = str(given_number)
string_length = len(given_number)
sum = 0
for i in given_number:
    sum += int(i)**string_length
if sum == int(given_number):
    print("The given number",given_number,"is an Amstrong number.")
else:
    print("The given number",given_number,"is Not an Amstrong number.")

The given number 153 is an Amstrong number.

In [24]:
num_list = [1,3,5,6,99,134,55]
for i in num_list:
    if i%2==0:
        print(i,"is an even number.")
    else:
            print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [25]:

import math
 
# function to print all
# non-primes in a range
def is_not_prime(n):
 
    # flag to track
    # if no. is prime or not
    # initially assume all numbers are
    # non prime
    flag = False
 
    # iterate in the given range
    # using for loop starting from 2
    # as 0 & 1 are neither prime
    # nor composite
    for i in range(2, int(math.sqrt(n)) + 1):
 
        # condition to check if a
        # number is prime or not
        if n % i == 0:
            flag = True
    return flag
 
# lower bound of the range
range_starts = 10
 
# upper bound of the range
range_ends = 30
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

Non-prime numbers between 10 and 30 are:
10
12
14
15
16
18
20
21
22
24
25
26
27
28

In [42]:
num = 50
first_value,second_value = 0, 1
for n in range(0, num):
    if(n <= 1):
        next = n
        if nextnum: break
              print(next)

IndentationError: unexpected indent (2157697987.py, line 7)

In [43]:
given_number= 5
factorial = 1
for i in range(1, given_number + 1):
    factorial = factorial *i
    print("The factorial of ", given_number, " is ", factorial)

The factorial of  5  is  1
The factorial of  5  is  2
The factorial of  5  is  6
The factorial of  5  is  24
The factorial of  5  is  120

In [35]:
user_input = input()
digits = 0
letters = 0
for i in user_input:
    if i.isdigit():
     digits=digits+1
    elif i.isalpha():
                 letters=letters+1
 
print(" The input string",user_input, "has", letters, "letters and", digits,"digits.")

Monika123
 The input string Monika123 has 6 letters and 3 digits.

In [36]:
month = ["January", "April", "August","June","Dovember"]
 
# iterate through each mont in the list
for i in month:
    if i == "February":
            print("The month of February has 28/29 days")
    elif i in ("April", "June", "September", "November"):
            print("The month of",i,"has 30 days.")
    elif i in ("January", "March", "May", "July", "August", "October", "December"):
            print("The month of",i,"has 31 days.")
    else:
            print(i,"is not a valid month name.")

The month of January has 31 days.
The month of April has 30 days.
The month of August has 31 days.
The month of June has 30 days.
Dovember is not a valid month name.